@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.modal-forms .modal-content {
  border-radius: 15px !important;
}
.modal-forms .modal-header {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background-image: linear-gradient(105.3deg, rgb(27, 27, 145) 85.8%, rgb(28, 55, 162) 10.2%) !important;

}
.modal-forms form input,
.modal-forms select {
  border-style: none !important;
  outline: 0 !important;
  border-radius: 15px !important;
  border: 1px solid rgba(116, 101, 252, 0.7) !important;
  letter-spacing: 1px !important;
  font-weight: bold !important;
  height: 40px !important;
  background-color: #fff !important;
}
.modal-forms form input,
.modal-forms form select {
  border-radius: 5px 5px 5px 5px !important;
  /* border-left: 0px !important; */
  font-weight: normal !important;
  font-size: 1.2em;
}
#modalAgregarCliente form input,
.modal-forms select,
#modalEditarCliente form input,
.modal-forms select {
  border-radius: 0px 5px 5px 0px !important;
  /* border-left: 0px !important; */
  font-weight: normal !important;
  font-size: 1.2em;
}
.resultadoCliente,
.resultadoSerie,
.resultadoProveedor {
  position: absolute !important;
  left: 0 !important;
  top: 100% !important;
  width: 100% !important;
  z-index: 1000 !important;
  padding: 5px;
  background-color: #fff !important;
  font-weight: bold !important;
}
.resultado-ubigeos-partida {
  position: absolute !important;
  left: 0 !important;
  top: 100% !important;
  width: 100% !important;
  z-index: 1000 !important;
  padding: 15px;
  background-color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}
.resultado-ubigeos-llegada {
  position: absolute !important;
  left: 0 !important;
  top: 100% !important;
  width: 100% !important;
  z-index: 1000 !important;
  padding: 15px;
  background-color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}
.resultadoSerie {
  position: absolute !important;
  left: 0 !important;
  top: 100% !important;
  width: 100% !important;
  z-index: 1000 !important;
  padding: 5px;
  background-color: #fff !important;
  font-weight: bold !important;
  font-size: 1.3em;
}
.resultado-serie {
  position: absolute !important;
  left: 0 !important;
  top: 100% !important;
  width: 100% !important;
  z-index: 1000 !important;
  padding: 5px;
  background-color: #fff !important;
  font-weight: bold !important;
}
.box {
  border-top: 0px !important;
}
.btn-select {
  outline: 0 !important;
  border-style: none !important;
  border-radius: 15px !important;
  background-color: #fff !important;
  border: 1px solid rgb(124, 124, 124) !important;
}

.btn-select + .dropdown-menu li {
  outline: 0 !important;
  border-style: none !important;
  border: 1px solid rgb(236, 236, 236) !important;
}
.formVenta input[type="radio"] {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
}
.radio-envio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.radio-envio div {
  width: 280px;
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 12px !important;
}
.radio-envio input[type="radio"] {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
}

.radio-envio label {
  position: absolute;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-left: 4px;
  top: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.radio-envio-pos {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.radio-envio-pos div {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 12px !important;
}
.radio-envio-pos input[type="radio"] {
  width: 18px !important;
  height: 18px !important;
  cursor: pointer;
}

.radio-envio-pos label {
  position: absolute;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: 4px;
  top: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
/* ==============================
CSS CONFIGURAR EMPRESA
*/
.contenedor-archivo {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
}
.contenedor-archivo input[type="file"] {
  display: none;
}
.contenedor-archivo label {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  /*border: 1px solid rgb(235, 235, 235); */
  background-color: rgb(44, 113, 216);
  background-image: url("../img/svg/certificado.svg");
  background-size: 2.5em 2.5em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#formEmpresa input,
#formEmpresa select {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgba(170, 160, 255, 0.7) !important;
  font-size: 1.2em;
}
#formEmpresa span {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgba(170, 160, 255, 0.7) !important;
  border-right: 0px !important;
}
/* =============================== */
/* FIN BOTÓNES IMPRIMIR */
.contenedor-print-comprobantes {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.contenedor-print-comprobantes #printA4,
.contenedor-print-comprobantes #printT,
.contenedor-print-comprobantes #xml,
.contenedor-print-comprobantes #cdr,
.contenedor-print-comprobantes .s-success,
.contenedor-print-comprobantes .s-rechazo,
.contenedor-print-comprobantes .anulado,
.contenedor-print-comprobantes .option-menu,
.contenedor-print-comprobantes .senda4,
.contenedor-print-comprobantes .sendCa4,
.contenedor-print-comprobantes .anulada-nota,
.contenedor-print-comprobantes .anular-nota,
.contenedor-print-comprobantes .s-getcdr {
  position: relative;
  padding: 4px;
  width: 45px;
  height: 45px;
  border-radius: 100% !important;
  margin: 2px;
  background-color: #fff;
  cursor: pointer;
  outline: 0 !important;
  border-style: none !important;
  /* border: .5px solid rgb(235, 235, 235) !important; */
  /* box-shadow: 1px 1px 5px rgba(214, 214, 214, 0.7) !important; */
}
#a4,
#tk {
  display: none;
}
.contenedor-print-comprobantes #printA4,
.btn-print-compra {
  background-image: url("../img/svg/pdf_cpe.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes #printT {
  background-image: url("../img/svg/ticket_cpe.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes #xml {
  background-image: url("../img/svg/xml_cpe.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes #cdr {
  background-image: url("../img/svg/xml_cdr.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .s-success {
  background-image: url("../img/success.png") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .s-rechazo {
  background-image: url("../img/svg/rechazo.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .s-getcdr {
  background-image: url("../img/svg/get_cdr.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .anulado {
  background-image: url("../img/cruz.png") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .senda4 {
  background-image: url("../img/svg/send-mail.svg") !important;
  background-size: 2em 2em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .sendCa4 {
  background-image: url("../img/svg/send-mail.svg") !important;
  background-size: 1.5em 1.5em !important;  background-position: center !important;
  background-repeat: no-repeat !important;
}
.contenedor-print-comprobantes .option-menu {
  width: 2.2em !important;
  height: 2.2em !important;
  padding: 3px !important;
  border-style: none !important;
  outline: 0 !important;
  /* box-shadow: 0px 0px 0px !important; */
  background-image: url("../img/svg/menu.svg") !important;
  background-size: 1.8em 1.8em !important;
  background-position: 0.7em 0.5em !important;
  background-repeat: no-repeat !important;
}
/* FIN BOTÓNES IMPRIMIR */
/* =============================== */
.nav .notifications-menu.open > a,
.nav .notifications-menu.open > a:focus,
.nav .notifications-menu.open > a:hover {
  background-color: #0c75ff !important;
  z-index: 0;
}
.nav .user-menu.open > a,
.nav .user-menu.open > a:focus,
.nav .user-menu.open > a:hover {
  background-color: #3675ff !important;
  z-index: 0;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #ffffff !important;
  z-index: 0;
}
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  color: #444;
  background: #ffffff;
  z-index: 0;
}
.contenedor-print-comprobantes .nav li a span {
  font-size: 1.2em !important;
}
.contenedor-print-comprobantes .nav li a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.contenedor-print-comprobantes .navbar,
.contenedor-print-comprobantes .nav,
.contenedor-print-comprobantes .dropdown,
.contenedor-print-comprobantes .navbar-static-top {
  width: 40px !important;
  height: 40px !important;
  margin: 0px !important;
  padding: 0px !important;
  z-index: inherit !important;
}
.contenedor-print-comprobantes .form button,
.contenedor-print-comprobantes button {
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: none !important;
  outline: 0 !important;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 1.2em;
  color: rgb(88, 88, 88);
  text-align: left;
}
.contenedor-print-comprobantes .form button:hover,
.contenedor-print-comprobantes button:hover {
  background-color: rgb(238, 238, 238);
}
.contenedor-print-comprobantes .form button i,
.contenedor-print-comprobantes button i {
  margin-left: 8px;
  top: 8px;
  color: rgb(255, 94, 94);
}
.contenedor-print-comprobantes .form button span,
.contenedor-print-comprobantes button span {
  margin-left: 8px;
  top: 8px;
}

/* CSS RESUMEN INPUTS */
.resumen-diario input[type="text"] {
  outline: 0 !important;
  border-style: none !important;
  border: 0.3px solid rgb(194, 194, 194) !important;
  border-radius: 0px 15px 15px 0px !important;
  padding: 4px !important;
  font-size: 1.2em !important;
}
.resumen-diario span {
  outline: 0 !important;
  border-style: none !important;
  border: 0.3px solid rgb(194, 194, 194) !important;
  border-radius: 15px 0px 0px 15px !important;
  border-right: 0px !important;
}
/* BOTÓN VER BOLETAS| */
.btn-ver_boletas{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-ver_boletas button {
  outline: 0 !important;
  border-style: none !important;
  border-radius: 35px;
  background-image: linear-gradient(
    105.3deg,
    rgb(69, 79, 160) 21.8%,
    rgb(65, 107, 214) 100.2%
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 55px; */
  height: 20px;
  padding: 0 !important;
}
.btn-ver_boletas button:hover {
  border-radius: 15px;
  background-image: linear-gradient(
    105.3deg,
    rgb(111, 111, 155) 21.8%,
    rgb(118, 156, 253) 100.2%
  ) !important;
}
.btn-ver_boletas button i {
 font-size: 1.5em;
}

/* RESUMEN DIARIO INPUTS  */
.contenedor-busqueda {
  position: relative;
  width: 100%;
  padding: 5px;
}
.contenedor-busqueda .input-group-search {
  width: 100% !important;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.contenedor-busqueda .input-group-searchkardex {
  width: 100% !important;
  display: flex !important;
  flex-flow: row;
  justify-content: center;
  align-content: center !important;
}
.contenedor-busqueda .input-group-search .input-search,
.contenedor-busqueda .input-group-searchkardex .input-search {
  margin: 8px;
  width: 100%;
}
.contenedor-busqueda .input-group-search .input-search input,
.contenedor-busqueda .input-group-searchkardex .input-search input {
  outline: 0 !important;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 5px;
  padding-left: 12px;
  width: 100%;
  text-transform: uppercase;
  height: 38px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 99% center;
  background-size: 20px !important;
}
.contenedor-busqueda .input-group-search #activos {
  margin-left: 5px !important;
}
.contenedor-busqueda .input-group-search .input-search span,
.contenedor-busqueda .input-group-searchkardex .input-search span {
  position: absolute;
  padding: 5px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;
  background-image: linear-gradient(
    105.3deg,
    rgb(69, 79, 160) 21.8%,
    rgb(118, 156, 253) 100.2%
  ) !important;
  color: #fff !important;
  height: 40px;
}
.table .selectpicker,
.input-group-search .selectpicker,
.input-group-searchkardex .selectpicker {
  border-style: none;
  outline: 0;
  width: 100px;
  height: 35px;
  border-radius: 5px !important;
  font-size: 1.2em;
  font-weight: 500 !important;
  padding-left: 7px;
  border: 1px solid rgba(170, 160, 255, 0.7) !important;
}
/* TABLA DE RESUMENES DIARIOS  */
.tabla-resumenes {
  border: 0px !important;
  overflow-x: inherit;
}
.tabla-resumenes table {
  border: 0px solid rgb(148, 148, 148);
}
.tabla-resumenes table th {
  text-transform: uppercase;
  text-align: center;
  border: 0px !important;
  color: rgb(68, 68, 68) !important;
  letter-spacing: 1px !important;
  font-size: 1em;
  font-weight: 600;
}
.tabla-resumenes table thead {
  /* background-image: linear-gradient(105.3deg, rgb(27, 27, 145) 85.8%, rgb(28, 55, 162) 10.2%) !important; */
  background-color: #f4f4f4 !important;
}
.tabla-resumenes table thead tr th:first-child {
  border-radius: 0px 0px 0px 0px;
}
.tabla-resumenes table thead tr th:last-child {
  border-radius: 0px 0px 0px 0px;
}

.tabla-resumenes table tbody tr td {
  border: 0px !important;
  border-left: 0px !important;
  /* border-bottom: 1px solid #eee !important; */
  
}
.t-md {
  font-size: 1.1em;
}
/* SUBIR IMÁGEN CSS */
.img-contenedor,
.img-contenedor-logo {
  position: relative !important;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center !important;
  align-items: center;
}
.img-contenedor input[type="file"],
.img-contenedor-logo input[type="file"] {
  display: none;
}
.img-contenedor label {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  /*border: 1px solid rgb(235, 235, 235); */
  /* background-color: rgb(44, 113, 216); */
  background-image: url("../img/svg/camara.svg");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.img-contenedor-logo label {
  width: 150px;
  border-radius: 100%;
  /*border: 1px solid rgb(235, 235, 235); */
  /* background-color: rgb(44, 113, 216); */
  background-image: url("../img/svg/camara.svg");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.contenedor-radios {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
  /* background-image: linear-gradient(105.3deg, rgb(67, 97, 180) 21.8%, rgb(94, 130, 221) 100.2% ); */
  color: rgb(255, 255, 255);
  padding: 0px;
  border-radius: 25px;
  padding-left: 12px;
}
.contenedor-radios input {
  display: none;
}
.contenedor-radios label {
  margin-right: 2px;
  position: relative;
  padding: 11px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: rgb(62, 91, 252);
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
}
.contenedor-radios label:nth-child(1) {
  background: rgb(99, 117, 252);
}
.contenedor-radios label:nth-child(3) {
  background: rgb(255, 110, 110);
}
.contenedor-radios label:nth-child(5) {
  background: rgb(89, 82, 150);
}
.contenedor-radios label:nth-child(7) {
  background: rgb(78, 157, 248);
}
.contenedor-radios label:nth-child(9) {
  background: rgb(52, 81, 186);
}
.contenedor-radios label:nth-child(11) {
  background: rgb(38, 76, 160);
}
/* REPORTES FECHAS */
.fechas-reportes {
  margin-bottom: 10px;
}
.fechas-reportes input {
  border-style: none !important;
  outline: none !important;
  border: 1px solid #ccc !important;
  font-size: 1.2em !important;
  padding: 6px !important;
  padding-left: 12px !important;
  border-radius: 0px 5px 5px 0px;
}

.result-report {
  position: relative;
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  background-color: rgb(255, 104, 104);
  z-index: inherit;
  display: none;
  color: #fff;
}
/* FIN===================== */
@media (max-width: 767px) {
  .contenedor-radios label {
    margin-bottom: 5px;
  }
  .img-contenedor-logo {
    position: relative !important;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start !important;
    align-items: start;
  }
}
@media (max-width: 990px) {
  .fechas-reportes .input-group {
    margin-bottom: 5px !important;
  }
}
.panel-medio .box-header-calendar {
  font-size: 1em !important;
}

#formConsulta input,
#formConsulta select {
  border-style: none !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 35px !important;
  font-size: 1.2em !important;
  border: 1px solid rgb(162, 164, 255) !important;
  border-radius: 0px 5px 5px 0px !important;
}
.btn-container-consultar {
  text-align: center;
}
.btn-container-consultar button {
  width: 220px !important;
  font-size: 1.3em !important;
  padding: 5px !important;
  letter-spacing: 1px !important;
  border-radius: 5px !important;
  background-image: linear-gradient(
    105.3deg,
    rgb(69, 79, 160) 21.8%,
    rgb(118, 156, 253) 100.2%
  ) !important;
}
#resultConsulta {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 25px;
  text-transform: uppercase;
}
.contenedor-btn-reportes,
.btn-rd-kardex,
.btn-rd-inventarios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  background-color: #3e3e3e !important;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
}
.contenedor-btn-reportes .btn {
  margin-right: 1px;
}
.contenedor-btn-reportes .btn i {
  color: #fff !important;
}

.contenedor-reportes-email {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.contenedor-reportes-email input {
  width: 100%;
  font-size: 1.1em;
  outline: none;
  border-style: none;
  border: 1px solid #616bff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
.contenedor-reportes-email button {
  width: 100%;
  font-size: 1.1em;
  outline: none;
  border-style: none;
  border: 1px solid #616bff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  background-image: linear-gradient(
    105.3deg,
    rgb(69, 79, 160) 21.8%,
    rgb(118, 156, 253) 100.2%
  ) !important;
}
.contenedor-reportes-email .respuesta-envio-reporte {
  padding: 10px;
  font-size: 1.1em;
  color: #fff;
  width: 100%;
}

#formItems input,
#formItems select {
  outline: none;
  border-style: none !important;
  font-size: 1.3em !important;
  border: 1px solid #ccc !important;
  height: auto !important;
  border-radius: 5px !important;
}
/*Full screen Modal 
*/
#formItems span {
  font-size: 1.1em !important;
  margin-left: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
    width: 1170px;
  }
}
legend {
  font-size: 1em !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}
.c-productos {
  position: relative !important;
}
.c-productos .p-productos {
  position: absolute;
  padding: 7px;
  width: 100%;
  background-color: rgb(253, 253, 253);
  z-index: 1000;
}
.lbl-text {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-left: 5px;
  color: rgb(4, 81, 182);
}

#serieCorrelativoReferencial {
  font-size: 1.5em !important;
  text-transform: uppercase;
  border-radius: 5px !important;
}
.resultado-serie legend a,
.resultado-ubigeos-partida legend a,
.resultado-ubigeos-llegada legend a {
  font-size: 1.2em !important;
}
.formGuia legend {
  color: rgb(36, 108, 185);
  font-weight: 600 !important;
  font-size: 1.15em !important;
}

.cuotas-float {
  position: absolute !important;
  z-index: 10000;
  background-color: rgb(58, 88, 180);
  padding: 8px !important;
  width: 95%;
  border-radius: 10px !important;
}
.cuotas-float label {
  color: rgb(248, 248, 248);
}

.contenedor-pie-chart {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.pro-mas-v ul a span {
  font-size: 16px !important;
}
.pro-mas-v ul li a {
  margin: 0 !important;
  padding: 6px !important;
}

#formGuia input,
#formGuia select {
  font-size: 1em !important;
  height: 35px !important;
}
#formGuia #direccionPartida,
#formGuia #direccionLlegada,
#formGuia #numBrevete,
#formGuia #placa {
  text-transform: uppercase;
}
.input-group-c-apellidos {
  margin-top: 5px;
}
.number-guiar {
  position: relative;
  padding: 10px;
  margin-left: 15px;
  background-color: #3f51b5;
  border-radius: 60%;
  width: 25px !important;
  height: 25px;
  text-align: center;
  top: 10px;
}
.number-guiar h3 {
  position: absolute;
  font-size: 0.8em;
  bottom: -15%;
  left: 37%;
  color: #fff;
  font-weight: bold;
}
#monto_pagado,
#total_vuelto {
  font-size: 1.3em;
  height: 40px;
  border-radius: 5px !important;
  text-align: center;
}

#total_vuelto {
  background-color: #fff;
  color: rgb(235, 52, 52);
}
#searchpc,
#searchpcPos {
  /* border-style: none; */
  outline: 0;
  border: 0 !important;
  font-size: 0.9em;
  color: #0000005e;
  opacity: 1;
  width: 120px;
  height: 20px !important;
  border: 1px solid #000;
}
/* BOTÓNES MODALES FOOTER  */
.modal-footer button,
.modal-footer label {
  outline: 0 !important;
  border-radius: 5px !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
}
.product #nuevoCodigo,
.product #editarCodigo {
  border-radius: 0px 5px 5px 0px !important;
}
.product #nuevoCodigo {
  border-radius: 0px 0px 0px 0px !important;
}
.product span {
  border-color: #7696f6 !important;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.bar-code-btn i {
  color: #ffffff !important;
  -webkit-animation: 2s rotate linear infinite;
  animation: 2s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.bar-code-btn {
  border-radius: 0px 25px 25px 0px !important;
  background-color: #625fff !important;
  cursor: pointer;
}

.contenedor-roles-ch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.contenedor-roles-ch label input {
  width: 1.2em;
  margin-right: 5px;
}
.contenedor-roles-ch label {
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #192c71;
  padding: 0.5em 1em 0em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  margin: 5px;
  border-radius: 1em;
  letter-spacing: 1px;
  font-weight: 500 !important;
}
.contenedor-roles-ch .rol-total {
  padding: 15px;
  background-color: #3e3e3e;
  text-align: center;
}
.contenedor-roles-ch .rol-total input {
  display: none;
}
.btn-eliminar-rol {
  margin-left: 3px;
}

#formSalidaEntrada .select span {
  font-size: 1em !important;
  height: 44px !important;
}
#formSalidaEntrada
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
  font-size: 17px !important;
}
#formSalidaEntrada .select2-selection {
  border: 0.1px solid rgb(62, 49, 176) !important;
  border-radius: 5px !important;
}
#formSalidaEntrada input,
#formSalidaEntrada select {
  border: 0.1px solid rgb(62, 49, 176) !important;
}



#formSucursal  .select span {
  font-size: 1em !important;
  
}
#formSucursal 
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
  font-size: 17px !important;
 
}
#formSucursal  .select2-selection {
  border: 0.1px solid rgba(98, 82, 246, 0.699) !important;
  border-radius: 5px !important; 
  height: 40px !important;
}
#formSucursal  input,
#formSucursal  select {
border: 0.1px solid rgba(98, 82, 246, 0.699) !important;
}


#formEditarSucursal  .select span {
  font-size: 1em !important;
  
}
#formEditarSucursal 
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
  font-size: 17px !important;
 
}
#formEditarSucursal  .select2-selection {
  border: 0.1px solid rgba(98, 82, 246, 0.699) !important;
  border-radius: 5px !important; 
  height: 40px !important;
}
#formEditarSucursal  input,
#formEditarSucursal  select {
  border: 0.1px solid rgba(98, 82, 246, 0.699) !important;
}


#formProductos .select span {
  font-size: 1em !important;  
  
}
#formProductos
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
     
}
#formProductos .select2-selection {
  border: 0.1px solid rgba(60, 104, 247, 0.575) !important;
  border-radius: 5px !important;
 
}
#formProductos 
.select2-container--default 
.select2-selection--single,
#formProductos
.select2-selection 
.select2-selection--single{
  font-size: 1.2em !important;
  height: 41px !important;
}
#formProductos select {
  border: 0.1px solid rgba(60, 104, 247, 0.575) !important;
 
}

#formEditarProducto
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
     
}
#formEditarProducto .select2-selection {
  border: 0.1px solid rgba(60, 104, 247, 0.575) !important;
  border-radius: 5px !important;
 
}
#formEditarProducto 
.select2-container--default 
.select2-selection--single,
#formEditarProducto
.select2-selection 
.select2-selection--single{
  font-size: 1.2em !important;
  height: 41px !important;
}
#formEditarProducto select {
  border: 0.1px solid rgba(60, 104, 247, 0.575) !important;
 
}
.contenedor-busqueda
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
     
}
.contenedor-busqueda .select2-selection {
  border: 0.1px solid rgb(201, 201, 201) !important;
  border-radius: 5px !important;
 
}
.contenedor-busqueda 
.select2-container--default 
.select2-selection--single,
.contenedor-busqueda
.select2-selection 
.select2-selection--single{
  margin-left: 5px;
  font-size: 1em !important;
  height: 37px !important;
}

.conte-sucursal-text
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
     
}
.conte-sucursal-text .select2-selection {
  border: 0.1px solid rgb(201, 201, 201) !important;
  border-radius: 5px !important;
 
}
.conte-sucursal-text 
.select2-container--default 
.select2-selection--single,
.conte-sucursal-text
.select2-selection 
.select2-selection--single{
  margin-left: 5px;
  font-size: 1.2em !important;
  height: 37px !important;
}
.kardex-contenedor .select span {
  font-size: 1em !important;
  height: 38px !important;
}
.kardex-contenedor
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0 !important;
  font-size: 16px !important;
}
.kardex-contenedor .select2-selection {
  border: 0.1px solid rgba(70, 59, 171, 0.408) !important;
  border-radius: 5px !important;
}
.kardex-contenedor select {
  border: 0.1px solid rgb(62, 49, 176) !important;
}

.kardex-contenedor {
  width: 100% !important;
  padding-right: 20px;
}
.busca-pro-kardex {
  margin-left: 10px !important;
  width: 100% !important;
}

#btnobtenercdrsunat {
  background-color: #3230a4;
  color: #fff !important;
  border-radius: 5px !important;
  margin-bottom: 1px;
}
#btnConsultarSunat {
  background-color: #3230a4;
  color: #fff !important;
  border-radius: 5px !important;
}

.modo-configuración {
  text-align: justify;
}
.modo-configuración li {
  margin-top: 8px !important;
}

.formGuia label {
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.barcodehtml {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.barcodehtml div {
  letter-spacing: 12px;
}
.btnCodigoBarra {
  background-color: #385ac0;
  color: #fff;
}
.btnCodigoBarra:hover {
  background-color: #554dea;
  color: #fff;
}

.btn-contenedor-cotizaciones {
  /* width: 100%;background-color: #0c75ff; */
  display: flex;
  flex-direction: column;
}
.btn-contenedor-cotizaciones button {
  width: 130px;
  height: 30px;
  margin-bottom: 1px;
  outline: 0;
  border-style: none;
  background-color: #2b30c1;
  color: #fff;
}
.btn-contenedor-cotizaciones button:hover {
  background-color: #3c41d5;
}
.btn-desactivar,
.btn-desactivar-cli {
  border-style: none;
  width: 77px;
  font-weight: 500;
}
.activarpro {
  border-style: none;
  padding: 2px;
  background-color: #4a6fdd;
  border-right: 15px solid #bdbdbd;
  color: #fff;
  border-radius: 0px;
  font-weight: 500;
}
.desactivarpro {
  padding: 2px;
  background-color: #f05975;
  border-left: 15px solid #bdbdbe;
  color: #fff;
  border-radius: 0px;
  font-weight: 500;
}

.formCompra .totales input {
  padding: 10px;
  font-size: 16px !important;
}
.formCompra #descuentoGlobalC {
  border-radius: 0px 5px 5px 0px !important;
}

.btn-rango-fechas {
  outline: none !important;
  border-style: none !important;
  background-color: #425ccf !important;
}

#formGastos input,
#formGastos textarea,
#formCaja input,
#formCaja textarea {
  text-transform: uppercase;
}
.formVenta .cantidaditem {
  outline: none !important;
  border-style: none !important;
  padding: 0px 10px 0px 10px !important;
  text-align: center !important;
  width: 100px;
  height: 28px !important;
  border: 1px solid rgba(116, 101, 252, 0.7) !important;
}

.btngroup-precio-mayor-normal .btn-success {
  background-color: #3f891a !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
.btngroup-precio-mayor-normal .btn-info {
  background-color: #2e3ea5 !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
#formGuia .datos-adicionales-item-guia {
  outline: none;
  width: 350px;
  padding: 0px 10px 0px 10px;
  font-size: 0.9em !important;
  text-transform: uppercase;
}
.select2-search__field {
  border-radius: 5px;
  height: 38px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 99% center;
  background-size: 20px !important;
}

.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar {
  width: 12px;
}

.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-track {
  background: rgb(248, 248, 248);
}

.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

#formVenta .preciounitarioco {
  outline: none !important;
  border-style: none !important;
  padding: 0px 10px 0px 10px !important;
  text-align: center !important;
  width: 120px;
  height: 28px !important;
  border: 1px solid rgba(116, 101, 252, 0.7) !important;
}

.modal-header .close{
  color: rgb(255, 255, 255) !important;
}
#btnEnvioResumen{
background-image: linear-gradient(105.3deg, rgb(81, 31, 230) 62.2%, rgb(101, 51, 255) 62.2%) !important;
}

.series-sucursales thead{
  background-color: #363636;
  padding: 10px;
 
}
.series-sucursales thead th{
 color: #f8f8f8;
  padding: 10px;
  text-align: center; 
  
}
.series-sucursales thead th:first-child {
  border-radius: 8px 0px 0px 0px;
}.series-sucursales thead th:last-child{
  border-radius: 0px 8px 0px 0px;
}
.series-sucursales tbody tr td input:nth-child(1){
  width: 80px;
  height: 37px !important;
  margin: 5px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}
.series-sucursales tbody tr td:first-child {
 font-weight: 600;
}
.advertencia-sucursal{
  color: #fc4747;
  text-align: center;
  padding: 12px;
}
.info-series{
  color: #fff;
  text-align: center;
  padding: 12px;
  background-color: #ff6666;
  font-weight: 600;
  font-size: .8em;
  border-radius: 8px 8px 0px 0px;
  text-transform: uppercase;
}

#form-login .has-feedback{
  display: flex;
  flex-flow: row;
  background-color: #5c5c5c00;
  height: 48px;
  margin: 1px;  
  border-radius: 5px 5px 5px 5px;
}
#form-login .has-feedback span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
  width: 52px;
  height: 48px;
  text-align: center;
  color: #e1e1e1;

border-right: 1px solid #000000;
}
#form-login .has-feedback .ico1{
border-radius: 5px 0px 0px 0px;
}#form-login .has-feedback .ico2{
border-radius: 0px 0px 0px 5px;
}
.login-box-body form #ingUsuario {
border-radius: 0px 5px 0px 0px;
}.login-box-body form #ingPassword {
border-radius: 0px 0px 5px 0px;
}
.login-box-body form input {
  /* border-radius: 5px !important; */
  outline: 0;
  border-style: none;
  padding: 18px !important;
  font-size: 1.4em !important;
  /* border-bottom: 0.5px solid rgb(170, 170, 170); */
  color: rgb(229, 229, 229) !important;
  letter-spacing: 2px;
  height: 48px;
  background-color: #4e4e4e;
border-radius: 0px 5px 5px 0px;
}

.btn-co-no-enviados{
  position: relative;
width: 100%;
margin: 0 auto;
  outline: 0;
  border-style: none;
  padding: 5px;
  background-color: #4b4b4b;
  color: #ffffff;
  font-weight: 600;
  font-size: .9em;
}


.contenedor-detracciones{
  display: none;
  border: 1px solid rgb(205, 205, 205);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px #d6d6d6;
}

.contenedor-detracciones .select2-container--default
.select2-selection--single,.contenedor-detracciones .select2-selection .select2-selection--single {
  border-style: none !important;
  outline: 0 !important;
  border: 1px solid rgba(170, 160, 255, 0.7) !important;
  padding: 8px 8px;
  height: 35px;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 14px !important;
}
#select2-tipodetraccion-results li{
  font-size: 16px !important;
}
#select2-cuentadetraccion-results li{
  font-size: 16px !important;
}

.detracciones-msg{
  text-align: center;
  margin-bottom: 5px;
  font-size: 1em;
  text-transform: uppercase;
 letter-spacing: 1px;
}
.msg-sunat-detraccion{
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #315cde;
  text-align: center;
  font-size: 0.9em;
}
.contenedor-detracciones span{
  outline: 0 !important;
  border-style: none !important;
    color: #fe4e4e;
     font-size: 1.3em;  
}
.contenedor-detracciones label{
  text-transform: uppercase;
  font-size: 12px;
}
.contenedor-detracciones #totaldetraccion{
  background-color: #ffffff;
  font-size: 15px !important;
}

#formNuevaCuentaBanco input, #formNuevaCuentaBanco select{
  text-transform: uppercase;
}

#formNuevaCuentaBanco .select2-container--default
.select2-selection--single,#formNuevaCuentaBanco .select2-selection .select2-selection--single,
#formEditarCuentaBanco .select2-container--default
.select2-selection--single,#formEditarCuentaBanco .select2-selection .select2-selection--single{
  border-style: none !important;
  outline: 0 !important;
  border: 1px solid rgba(116, 101, 252, 0.7) !important;
  padding: 8px 8px;
  height: 42px;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 16px !important;
}

.series-productos{
  display: none;
  flex-direction: column;
  margin-top: 10px;

}
.series-productos div input{
  height: 35px !important;
  margin-bottom: 4px !important;
  border-radius: 5px  0px 0px 5px !important;
  text-transform: uppercase;
}
.series-productos div span{
  height: 35px !important;
  z-index: 1 !important;
  border-radius: 0 !important;
  border-radius:  0px 5px 5px  0px !important;
}

.series-productos-agregar{
  display: inherit;
  flex-direction: column;
  margin-top: 10px;

}
.series-productos-agregar div input{
  height: 40px !important;
  width: 350px !important;
  margin-bottom: 4px !important;
  border-radius: 5px  0px 0px 5px !important;
  text-transform: uppercase;
  font-size: 1.2em !important;
}
.series-productos-agregar div span{
  height: 40px !important;
  width: 40px !important;
  z-index: 1 !important;
  border-radius: 0 !important;
  border-radius:  0px 5px 5px  0px !important;
 
}

.contenido-inputs{
  display: flex;
  flex-flow: row wrap;
justify-content: center;
margin: 5px;
padding: 5px;

}
.contenido-inputs .inputs-series{
  flex: 1 auto;
  align-items: center;
}
.contenido-inputs .inputs-series input{
 margin-bottom: 4px;
}
.contenido-inputs .inputs-series input[type='text']{
 margin-bottom: 4px;
 width: 250px;
 padding: 10px;
 text-transform: uppercase;
}
.contenido-inputs .nombre-producto-contenedor{
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
}
.contenido-inputs-guias .nombre-producto-contenedor{
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.input-group-series{
  position: relative;
  padding: 5px;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.input-group-series .inputs-series-guias {
  position: relative;
  padding: 0 !important;
  margin: 3px;
 width: 220px !important;
 /* background-color: #000; */
}
.input-group-series .inputs-series-guias  input{
  margin: 0 !important;
  border-radius: 5px  0px 0px 5px !important;
  height: 35px !important;
  padding-left: 10px;
}
 .input-group-series .inputs-series-guias span{
  margin: 0 !important;
  border-radius:  0px 5px 5px  0px !important;
  height: 35px !important;
}

.tablaSeries tbody tr td{
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
}
.tablaSeries .series-guia .eliminar_item .input-group{
  margin: 0 auto!important;
  padding: 0 !important;
}
.tablaSeries .series-guia .eliminar_item .input-group #serieg{
  
  max-height: 30px !important;
  padding-left: 10px;
  background-color: #ffffff00 !important;
  margin-top: 2px !important;
  border-radius: 0px !important;
  border: 0 !important;
}
.tablaSeries  .btn-remove-serie-agregar{
  margin-top: 2px !important;
  border-radius: 5px !important;
  z-index: 1 !important;
}